{% extends "owner/base_generic.html" %}
{% block content %}
    <div class="card-body">
    <p>Lista de Owners registrados</p>
    <a type="button" class="btn btn-success" href="{% url 'owner_create_vc_ref03' %}">Crear Owner</a>
    <form method="post">
        {% csrf_token %}
     <table class="table table-striped">
        <thead>
            <th scope="col">Nro Orden</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
             <th scope="col">Pais</th>
            <th scope="col">Acción</th>
        </thead>

        <tbody>
            {% for owner in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><p>{{ owner.nombre }}</p></td>
                    <td>{{ owner.edad }}</td>
                    <td>{{ owner.pais }}</td>
                     <td>
                        <a type="button" class="btn btn-info" href="{% url 'owner_edit_vc_ref03' owner.id%}">Editar Owner</a>
                        <a type="button" class="btn btn-danger" href="{% url 'owner_delete_vc_ref03' owner.id%}">Eliminar Owner</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </form>
    </div>
{% endblock %}