{% extends "owner/base_generic.html" %}

{% block content %}
    <div>
        <form action="." method="GET">
            <label>Búsqueda: </label>
            <input type="text" name="q" value="{{ query | escape }}"> {% comment %}escape sale del input y busca{% endcomment %}
        </form>
    </div>

    {% if query %}
        <h2>Resultados para "{{ query| escape }}"</h2>

        {% if data %}
            <ul>
                {% for owner in data %}
                    <li>{{ owner.nombre }} es de {{ owner.pais }} que tiene {{ owner.edad }} años</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se ha nencontrado owners con la coincidencia "{{ query | escape }}"</p>
        {% endif%}
    {% endif %}
{% endblock %}